# ROS 2 build artifacts
build/
install/
log/

# Python cache
*.pyc
__pycache__/

# Editors
.vscode/
.idea/

# Docker
*.env
leader_follower_ws/build/
leader_follower_ws/install/
leader_follower_ws/log/
__pycache__/
*.pyc
